/* GENERAL */

* {
  box-sizing: border-box;
}

/* Typographic & Colors */

@font-face {
  font-family: "Gotham-bold";
  src: url("../fonts/Gotham_Bold.otf");
}

.gotham-b {
  font-family: "Gotham-bold", Arial, Helvetica, sans-serif;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-round-light";
  src: url("../fonts/Gotham_Rounded_Light.otf");
}

.gotham-rl {
  font-family: "Gotham-round-light", Arial, Helvetica, sans-serif;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaN-light";
  src: url("../fonts/HelveticaNeue_Light.ttf");
}

.helveticaN-l {
  font-family: "HelveticaN-light", Arial, Helvetica, sans-serif;
  font-weight: 100;
}

@font-face {
  font-family: "HelveticaN-medium";
  src: url("../fonts/HelveticaNeue_Medium.ttf");
}

.helveticaN-m {
  font-family: "HelveticaN-medium", Arial, Helvetica, sans-serif;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaN-bold";
  src: url("../fonts/HelveticaNeu_Bold.ttf");
}

.helveticaN-b {
  font-family: "HelveticaN-bold", Arial, Helvetica, sans-serif;
  font-style: normal;
}

.red {
  color: #d35266;
}

.white {
  color: #fff;
}

.gray {
  color: #888;
}

.black {
  color: #383838;
}

.red-bg {
  background-color: #d35266;
}

.white-bg {
  color: #fff;
}

.gray-bg {
  background-color: #888;
}

.black-bg {
  background-color: #383838;
}

/* NAVBAR */

.nav-main-container {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-main-container .nav-container {
  width: 100%;
  max-width: 1145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .nav-left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-width: 630px;
}

.nav-left-side .item-logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.nav-left-side .nav_shop-name {
  font-size: 18px;
  line-height: 40px;
}

.nav-left-side .item-option,
.nav-left-side .item-ad {
  font-size: 14px;
}

.nav-left-side .item-ad {
  padding: 10px;
}

.item-option_logo,
.item-option_icon {
  padding-right: 15px;
}

.item-option_logo {
  font-size: 40px;
}

.nav-container .nav-right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
  min-width: 115px;
  padding-right: 8px;
}

.user-option .user-option_icon {
  font-size: 12px;
}

.user-option .user-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* SEARCH */

.search-container {
  height: 295px;
  width: 100%;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 10px;
  /* background-image: url("../images/dice-d20.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50% 50%;
  filter: brightness(0) saturate(100%) invert(32%) sepia(9%) saturate(2509%) hue-rotate(301deg) brightness(95%) contrast(87%); */
}

.search-container .search_shop-name {
  font-size: 55px;
  margin-bottom: 5px;
}

.search-container .search_shop-slogan {
  font-size: 15px;
  margin-bottom: 55px;
}

.search-container .search-form {
  margin: 0 auto;
  font-size: 3px;
  display: block;
}

.search-form .category,
.search-form .what,
.search-form .where,
.search-form .submit {
  height: 40px;
  font-size: 16px;
  font-family: "HelveticaN-medium", Arial, Helvetica, sans-serif;
  color: #888;
  background-color: #fff;
  padding: 5px 30px 5px 20px;
  border: 0;
}

.search-form .category {
  width: 170px;
  background-image: url('../images/arrow-down.png');
  background-repeat: no-repeat;
  background-position: left 5px top 50%, 0 0;
  background-size: 15px auto, 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.search-form .what,
.search-form .where {
  width: 270px;
}

/* HOT ADD */
